<!DOCTYPE html>
<html>
<head>
  <title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/home.css">

</style>
</head>
<body>
    <div class="topnav">
  <a  href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/contact">Contact</a>
  <a class="active" href="/About">About</a>

</div>


<h1>MEET OUR GROUP MEMBER</h1>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Tharun Raj A</h2>
        <p class="title">BCA</p>
        <p>pcasd22ca090@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Pradeep Kumar.L</h2>
        <p class="title">BCA</p>
        <p>pcasd22ca067@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Sanjay A.K</h2>
        <p class="title">BCA</p>
        <p>aksanjay04@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  


</body>
</html>